//navigation bar
@import "mixins"
@import "variables"
.tx-pri
    color: $primary-color
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:focus
    box-shadow: none !important
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link a
    text-decoration: none !important
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link
    border-color: $secondary-color !important
    color: $secondary-color !important
    text-decoration: none !important
.p-accordion .p-accordion-content
    border: none !important
    background: transparent !important
.p-accordion .p-accordion-header .p-accordion-header-link
    padding: 0 !important
    border: none !important
    margin-left: 0 !important
    background: transparent !important
    font-weight: 400 !important
    text-decoration: none !important
.p-accordion .p-accordion-content a
    text-decoration: none !important
    padding: 5px
    color: $secondary-color

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus
    box-shadow: none !important
    outline: none !important

.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon
    display: none !important

.bg-shadow
    background-color: white
    position: fixed
    z-index: 2
    top: 0
    width: 100%
    @include shadow-shk
.second-nav
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
    .left-items
        display: flex
        justify-content: left
        align-items: center
        .menu-bar
            height: 40px
            width: 40px
            border-radius: 50px
            background-color: $hover-color
            &:hover
                color: $primary-color
        .item
            font-weight: bold
            font-size: 20px
            cursor: pointer
            @include center-hor-ver
            margin-right: 10px
        img
            height: 44.5px
            width: 123px

    .right-items
        display: flex
        justify-content: space-between
        align-items: center

        .toggle-text
            display: none
            font-weight: 500
            color: gray
            font-size: 17px
        .item
            cursor: pointer

            a
                text-decoration: none
                color: $secondary-color
                cursor: pointer

                &:hover
                    color: $primary-color
            font-size: 15px
            padding: 0.6rem 20px 0.3rem
            color: $secondary-color
            font-weight: 600
            @include center-hor-ver

            &:hover
                color: $primary-color
.main-container
    margin: 70px
    min-height: 75vh
    padding: 20px 5px
.footer
    cursor: pointer
    color: $primary-color
    font-size: 16px
    padding: 10px
.menu-contents
    a
        text-decoration: none
        color: inherit
    .menu-item
        padding: 8px
        display: flex
        align-items: center
        cursor: pointer
        border-radius: 8px
        &:hover
            background-color: $hover-color
        div
            margin-right: 8px
.top-bar
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    .item-card
        width: 31%
        @include center-hor-ver
        @include shadow-shk
        border-radius: 8px
        min-height: 200px
        cursor: pointer
        p
            color: white
            text-align: center
            font-size: 20px
.chart
    margin: 10px
    border-radius: 8px
    @include shadow-shk
    padding: 10px
    .title
        text-align: center
        font-weight: 600
        margin: 20px 0
        &:hover
            color: $primary-color

@media only screen and (max-width: 576px)
    .top-bar
        display: block
        .item-card
            width: 100%
            margin-bottom: 10px
            p
                font-size: 16px
    .main-container
        margin: 60px 0 0 0
    .second-nav
        height: 50px
        .right-items
            .toggle-text
                @include center-hor-ver
            .item
                display: none
